# Specific versions known to work together
opencv-contrib-python==4.5.5.62  # For ArUco module
numpy==1.26.4  # OpenCV is not compatible with NumPy 2.x
scipy==1.15.2
depthai==2.24.0.0

# Additional dependencies that might be needed
PyTurboJPEG>=1.6.4
